sonar.projectKey=cdattg
sonar.projectName=cdattg
sonar.sources=app,routes,config,database,resources
sonar.tests=tests
sonar.host.url=https://sonarqube.dataguaviare.com.co
sonar.token=TU_TOKEN_AQUI
sonar.sourceEncoding=UTF-8
sonar.exclusions=**/.git/**,**/vendor/**,**/node_modules/**,**/storage/**,**/bootstrap/cache/**,**/public/build/**,**/public/vendor/**,**/public/dist/**
sonar.php.version=8.4
